@import 'reset';

html {
  font-size: 5.3333vw;
}

body,
html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial,
    sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #ededed;
  color: #666;
}

/* 可以设置不同的进入和离开动画   */
/* 设置持续时间和动画函数        */
.slide-left-enter-active,
.slide-left-leave-to,
.slide-right-enter-active,
.slide-right-leave-to {
  transition: all 500ms;
}

.slide-left-enter-from {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-right-enter-from {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.btn:active,
a:active {
  opacity: 0.5;
  -webkit-tap-highlight-color: transparent;
}

progress {
  display: block;
  width: 100%;
  height: 8px;
  overflow: hidden;
  border-radius: 8px;

  &::-webkit-progress-bar {
    background: #e6e5e8;
  }

  &::-webkit-progress-value {
    background: linear-gradient(
      153deg,
      theme('colors.primary.default') 0%,
      theme('colors.primary.lighter') 100%
    );
  }
}

// 骨架屏样式
._ {
  position: fixed;
  z-index: 999;
  background: #ecf0f2;
  animation: opacity 1s linear infinite;
}
.__ {
  top: 0%;
  left: 0%;
  width: 100%;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.scroll-container {
  .bscroll-vertical-scrollbar {
    width: 4px !important;
  }
  // /deep/ .bscroll-indicator{
  //   border: none !important;
  // }
}

input[type='search'] {
  background: transparent;
}

.van-search__content {
  background-color: #fff;
}

.button.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(86deg, #f40, #ff9029);
  border-radius: 40px;
  color: #eee;
  font-size: 24px;
}
